{% extends 'airconapp/base.html' %}

{% block title %}Human Resources Module{% endblock %}

{% block content %}
  <p>
    <a href="{% url 'calc_add' %}">New Calculation</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      {% for calc in calcs %}
        <tr>
          <td><a href="{% url 'calc_change' calc.pk %}"></a></td>
          <td>{{ calc.brand.name }}</td>
          <td>{{ calc.model.name }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No person in the database. <a href="{% url 'calc_add' %}">Add the first person</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}